html {
  background-color: #e4f47c;
  font-family: 'helvetica neue';
  color: white;
}



h1 {
  color: white;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #086197;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  

}

#heading {
  background-color: #086197;
  text-align: center;
}

.item {
  color: white;
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: white;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: white;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #e4f47c;
  color: #086197;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  color: white;
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #086197;
}

::placeholder {
  color: white;
  opacity: 1;
}

footer {
  color: white;
  color: white;
  text-align: center;
}